<body>
    <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <!-- A wrapper for all the book notes -->
                <div class="posts">
                    <h1 class="content-subhead">Pinned Notes</h1>
                    <!-- A single book note -->
                    {% include 'book/notes/pinned/_just-doing-my-job.html' %}            
                    {% include 'book/notes/pinned/_selling-of-souls.html' %} 
                    {% include 'book/notes/pinned/_anothers-verse.html' %}                
                    <a id="Cyberterrorism"></a>
                    {% include 'book/notes/pinned/_cyberterrorism.html' %} 
                    {% include 'book/notes/2014/11/_a-warning.html' %}
                </div>
                <div class="posts">
                    <h1 class="content-subhead">Book Notes</h1>
                    <!-- A single blog post -->
                    <a id="Whole_Foods"></a>
                    <a id="Poison"></a>
                    {% include 'book/notes/2019/06/_wholefoods-sec.html' %} 
                    <a id="Murder_Attempt"></a>
                    {% include 'book/notes/2018/07/_muder-attempt.html' %} 
                    <a id="Hate_Crime"></a>        
                    {% include 'book/notes/2017/12/_hate-crime.html' %}
                    <a id="An_Assault"></a>
                    {% include 'book/notes/2018/04/_assault-on-a-bench.html' %}
                    <a id="Winter_Is_Coming"></a>
                    {% include 'book/notes/2019/11/_winter-is-coming-joke.html' %}
                    {% include 'book/notes/2019/07/_did_not_get_joke.html' %}
                    <a id="Uncle_Thomas"></a>
                    {% include 'book/notes/2019/09/_uncle-toms-burden.html' %}
                    {% include 'book/notes/2019/10/_uncle-toms-burden2.html' %}
                    <a id="Girl_On_A_Train"></a>
                    {% include 'book/notes/2019/11/_girl-on-a-train.html' %}
                    <a id="Girl_On_A_Bus"></a>
                    {% include 'book/notes/2017/04/_girl_on_a_bus.html' %}
                    {% include 'book/notes/2005/10/_worst_tickets_ever.html' %}

                </div>
            </div>
    </div>
</body>
