<head>
    <div class="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Notes To The Future. True Tales In The Life Of Clarence Daniels Jr.">
        <meta name="tag" content="Clarence Daniels Jr.">
        <meta name="tag" content="quel.dox.0000x@protonmail.com">
        <meta name="tag" content="querl.dox.0000x">
        <meta name="tag" content="Querl Dox">
        <meta name="tag" content="house of GOAT">
        <meta name="tag" content="attempted murder">
        <meta name="tag" content="Cyberterrorism">
        <meta name="tag" content="cyber terrorism">
        <meta name="tag" content="cyber terrorism definition">
        <meta name="tag" content="sec">
        <meta name="tag" content="product tampering">
        <meta name="tag" content="Whole Foods Market">
        <meta name="google-site-verification" content="-zMQ3FU6cTuEP9HaBKyAplyskOKfygvY7nJeO-mqe1A" />
        <title>Notes To The Future</title>
        <style>
            {% include './css/_pure.css' %}
            {% include './css/_grids-responsive-min.css' %}
            {% include './css/_blog.css' %}
        </style>
    </div>
</head>
