<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">Notes To The Future</h1>
            <h2 class="brand-tagline">True Tales In The Life Of Clarence Daniels Jr</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="#Murder_Attempt">Murder Attempt</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#Whole_Foods">Whole Foods</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#Whole_Foods">Product Tampering</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#Hate_Crime">A Hate Crime?</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#Uncle_Thomas">Uncle Tom's Burden</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#Winter_Is_Coming">Winter Is Coming</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#Girl_On_A_Train">Girl On A Train</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#Poison">POISON</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#An_Assault">An Assault</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#Cyberterrorism">Cyberterrorism</a>
                    </li>
                </ul>
            </nav>
            <div class="pure-menu pure-menu-horizontal">      
                <ul>
                    <li class="pure-menu-item">
                        <a href="https://gitlab.com/querl.dox/clarence-daniels-jr/book/notes_to_the_future/notes">
                            <img border="0" alt="Gitlab" src="assets/gitlab.svg" width="40" height="auto">
                        </a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="mailto:querl.dox.0000x@protonmail.com">
                            <img border="0" alt="Email" src="assets/envelope.svg" width="40" height="auto">
                        </a>
                    </li>     
                    <li class="pure-menu-item">
                        <a href="https://github.com/querl-dox-0000x/notes_to_the_future">
                            <img border="0" alt="Email" src="assets/github-alt.svg" width="40" height="auto">
                        </a>
                    </li>   
                </ul>
                </div>
            </div>
            <div class="header-icon">
                {% include './svg/_gitlab.svg' %}
                {% include './svg/_envelope.svg' %}
                {% include './svg/_github-alt.svg' %}
            </div>
        </div>
    </div>
</div>

